extends base.pug

block append head
  title Balas dengan Karya

block isi
  h1 Balas dengan Karya
  p Dunia memang selalu ribut dengan kelakuan para manusia. Ada aja yang baru, unik, heboh, dan viral di dunia manusia. Cara manusia menanggapi berbagai isu itu pun beraneka ragam. Ada yang menanggapinya dengan serius, ada pula yang menanggapinya dengan kepala dingin. Ada yang menjawab langsung, ada pula yang dipendam dalam hati.