extends ../base.pug

block head
  +css("../bootstrap.min.css")
  style
    :stylus
      h1
        text-align center 

block body
  .p-3
    block isi
    p.text-center
      a(href="../index.html") cd ..
    script
      :coffee
        judul = document.querySelector "h1"
        document.title = judul.innerText