extends base.pug

block isi
  h1 Resep Sambal Terenak
  h2 Bahan
  ol
    li Lombok (15 biji)
    li Bawang putih (3 biji)
    li Gula (secukupnya)
    li Garam (secukupnya)
    li Minyak goreng (secukupnya)
  h2 Mengolah
  ol
    li Ulek lombok, bawang putih, gula, dan garam
    li Panaskan minyak goreng
    li Tuang minyak goreng panas ke ulekan tadi