extends base.pug

mixin list(judul, link)
  a.list-group-item.list-group-item-action(href=`tulisan/${link}.html`) #{judul}

block head
  title Zen Zen
  +css("bootstrap.min.css")

block body
  .p-3
    h1.text-center Zen Zen
    .list-group
      +list("Balas dengan Karya", "balas-dengan-karya")